
// Dark mode

fontcol = #eee
bgcol = #000
metacol = lightgray
fontselectcol = #0000ff

body
  color fontcol
  background bgcol
  header
    background bgcol
    color fontcol
  .views
    color fontcol
  .font input
    color fontcol
  .fsBox
    background bgcol
    color fontcol
    input
      color inherit
  .meta
    color metacol
  .fontdemo1 input, .fontdemo2 input
    &::selection
      color inherit
      background fontselectcol
    &::-moz-selection
      color inherit
      background fontselectcol
  ::selection
    background fontcol
    color bgcol
  ::-moz-selection
    background fontcol
    color bgcol

// Bright mode

fontcol = #000
bgcol = #FFF
metacol = gray
fontselectcol = #ffff00

body.bright
  color fontcol
  background bgcol
  header
    background bgcol
    color fontcol
  .views
    color fontcol
  .font input
    color fontcol
  .fsBox
    background bgcol
    color fontcol
    input
      color inherit
  .meta
    color metacol
  .fontdemo1 input, .fontdemo2 input
    &::selection
      color inherit
      background fontselectcol
    &::-moz-selection
      color inherit
      background fontselectcol
  ::selection
    background fontcol
    color bgcol
  ::-moz-selection
    background fontcol
    color bgcol
