
// Dark mode

fontcol = #eee
bgcol = #000
metacol = lightgray

body
  color fontcol
  background bgcol
  header
    background bgcol  
    color fontcol
  .views
    color fontcol
  .font input
    color fontcol
.fsBox
  background bgcol
  color fontcol
  input
    color inherit
.meta
  color metacol

// Bright mode

fontcol = #000
bgcol = #eee
metacol = gray

body.bright
  color fontcol
  background bgcol
  header
    background bgcol  
    color fontcol
  .views
    color fontcol
  .font input
    color fontcol
  .fsBox
    background bgcol
    color fontcol
    input
      color inherit
  .meta
    color metacol
