@import 'fonts.styl'
@import 'utils.styl'
@import 'icons.css'
@import 'colormodes.styl'

m = 60px
h = 60px
ht = 300px
column = 23.5%
unicol = rgba(128, 128, 128, 0.29)

body
  font-family dejavu_sans_condensed
  font-size 15px
  line-height 20px
  &.nonotice
    .notice
      display none
  .notice
    p
      display inline
    .introbtn
      font-size .5em
      cursor pointer
      border 2px solid
      padding .1em .3em
      vertical-align top
  &.taxonomies
    .content
      margin-top ht

// Icons

.icon
  font-size 18px
button.icon
  border none
  background unicol
  padding 5px 4px
  vertical-align middle
  color inherit
  cursor pointer
  &:active
    background gray
  &:focus
    outline 1px dotted white

header
  position fixed
  width 100%
  height h
  left 0
  top 0
  padding 0 m
  z-index 5
  border-bottom 1px solid unicol
  .topnav
    float left
    height 100%
    width column
    a.logo
      display block
      border none
      padding-top 1em
      .icon
        font-size 32px
        padding-left 0
  #search_form
    display flex
    flex-flow row nowrap
    height 100%
    width column
    float left
    #search_query
      flex 1 1 auto
      color inherit
      margin-right 1px
      font-size 2em
    #search_submit
      flex 0 0 h - 10
  .views
    height 100%
    width column
    float right
    ul
      display flex
      flex-flow row nowrap
      height 100%
      li
        height 100%
        padding 0 1px 0 0
        flex 0 0 h - 10
        .icon
          width 100%
      .font-sizer
        flex 1 1 auto
        height 100%
        .font-size
          display flex
          flex-flow row nowrap
          height 100%
          .icon
            flex 0 0 60px
            text-align center
            margin-top 20px
          input
            flex 1 1 auto
            min-width 100px
          .valuebox
            display none
  .fullh
    height 100%
    vertical-align middle
    &[type=range]
      padding 0
  .showTaxonomies
    display none
    position absolute
    width 103%
    height ht
    left 0
    top h - 1
    border 1px solid rgba(128, 128, 128, 0.29)
    line-height 1.6em
    vertical-align top
    .colonne
      height 298px
      padding 30px m
      display inline-block
      width column
      overflow-y auto
      ul
        position relative
        li
          padding-left 15px
        .pad
          position absolute
          top 100%
          height 30px
          width 1px

.content
  padding-top h
  h1
    font-size 3em
    margin m 0 m m
.notice
  font-size 40px
  line-height 50px
  padding 0 m 40px m

.typeface
  padding m m
  clear both
  overflow hidden
  line-height 1.6em
  border-bottom 1px solid unicol
  .meta
    float left
    width column
    display block
    line-height 25px
    padding-right m
    //border-right 1px solid unicol
    &>li
      margin-bottom 10px
    li
      &.fontname
        margin-bottom 10px
      li
        padding-left 15px
      img
        width: 50%;
        float: left;
        padding-right 10px
        padding-bottom 10px
      figcaption.hidden
        display none
    h2
      color metacol
    .edit
      clear both
  .fontlist
    float left
    width 76%
    .font
      transition all 0.1s ease-out
      margin 0 0 10px 0
      .fontdemo1, .fontdemo2
        overflow hidden
      .fontdemo1 input, .fontdemo2 input
        transition width 0.3s ease-out
        height 1.5em
        width 100%
        background transparent
        border 0
      .fontdemo1 input
        font-size 80px
        white-space nowrap
        font-family inherit
      .fontdemo2 input
        font-size 30px
        white-space nowrap
        font-family inherit
      .legend
        font-size 12px
        color metacol
        a
          border-bottom none
        .icon-fullscreen
          margin-left 0px
          background none
          color inherit
          vertical-align baseline
          cursor pointer
          font-size 11px
.gridview
  .typeface
    .font
      width 30%
      display inline-block
      margin-right 1%
      vertical-align top
      position relative
      &:after
        content " "
        height 100%
        width 30px
        position absolute
        right 0
        top 0
        background linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)
      .fontdemo2
        display block
  &.bright
    .font:after
      background linear-gradient(to right, rgba(238, 238, 238, 0) 0%,#eee 100%)

// Page template

.page-content
  padding m m
  max-width 800px
  width 100%
  p
    font-size 1.5em
    line-height 1.3em
    margin-bottom m
body.about
  .page-content
    background yellow
    color black

// FullScreen Box

.fsBox
  width 100%
  height 100%
  padding 100px
  position fixed
  text-align center
  top 0
  left 0
  z-index 20
  font-size 40%
  &.displayed
    display block
  input
    text-align center
    color inherit
  .close-fullscreen
    font-size 10em
    position absolute
    top m*.5
    right m*.5
    cursor pointer
.pagination
  padding 2*m 0
  clear both
  font-size 2em
  border-bottom 1px solid unicol
  text-align center
  li
    display inline
    list-style none
    margin 0 .5em
    &.MarkupPagerNavOn a
      border 2px solid
      border-radius 1em
      padding .3em .6em
    &.MarkupPagerNavNext, &.MarkupPagerNavPrevious
      font-size .8em
      vertical-align top
    a
      color metacol
      border none
      &:hover
        color unicol

body>footer
  padding m 0
  p
    font-size 1em
    color metacol
    text-align center
    margin 0 0 10px 0
a
  color inherit
  text-decoration none
  border-bottom 1px dotted
  &:hover
    border-style solid

input[type=text]
  border none
  background unicol

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
    border: none;
}

@media (max-width: 1200px)
  header
    .fullh
      padding-right 10px
      padding-left 10px
