body {
  color: #eee;
  background: #000;
}
body header {
  background: #000;
  color: #eee;
}
body .views {
  color: #eee;
}
body .font input {
  color: #eee;
}
.fsBox {
  background: #000;
  color: #eee;
}
.fsBox input {
  color: inherit;
}
.meta {
  color: #d3d3d3;
}
body.bright {
  color: #000;
  background: #eee;
}
body.bright header {
  background: #eee;
  color: #000;
}
body.bright .views {
  color: #000;
}
body.bright .font input {
  color: #000;
}
body.bright .fsBox {
  background: #eee;
  color: #000;
}
body.bright .fsBox input {
  color: inherit;
}
body.bright .meta {
  color: #808080;
}
@font-face {
  font-family: 'dejavu_sans_condensed';
  src: url("fonts/dejavusanscondensed-webfont.eot");
  src: url("fonts/dejavusanscondensed-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/dejavusanscondensed-webfont.woff") format('woff'), url("fonts/dejavusanscondensed-webfont.ttf") format('truetype'), url("fonts/dejavusanscondensed-webfont.svg#dejavu_sans_condensedbook") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dejavu_sans_condensed';
  src: url("fonts/dejavusanscondensed-bold-webfont.eot");
  src: url("fonts/dejavusanscondensed-bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/dejavusanscondensed-bold-webfont.woff") format('woff'), url("fonts/dejavusanscondensed-bold-webfont.ttf") format('truetype'), url("fonts/dejavusanscondensed-bold-webfont.svg#dejavu_sans_condensedbold") format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'dejavu_sans_condensed';
  src: url("fonts/dejavusanscondensed-boldoblique-webfont.eot");
  src: url("fonts/dejavusanscondensed-boldoblique-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/dejavusanscondensed-boldoblique-webfont.woff") format('woff'), url("fonts/dejavusanscondensed-boldoblique-webfont.ttf") format('truetype'), url("fonts/dejavusanscondensed-boldoblique-webfont.svg#dejavu_sans_condensedbold_oblique") format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'dejavu_sans_condensed';
  src: url("fonts/dejavusanscondensed-oblique-webfont.eot");
  src: url("fonts/dejavusanscondensed-oblique-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/dejavusanscondensed-oblique-webfont.woff") format('woff'), url("fonts/dejavusanscondensed-oblique-webfont.ttf") format('truetype'), url("fonts/dejavusanscondensed-oblique-webfont.svg#dejavu_sans_condensedoblique") format('svg');
  font-weight: normal;
  font-style: italic;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: dejavu_sans_condensed;
  font-size: 15px;
  line-height: 20px;
}
body.nonotice .notice {
  display: none;
}
body .notice p {
  display: inline;
}
body .notice .introbtn {
  font-size: 0.5em;
  cursor: pointer;
  border: 2px solid;
  padding: 0.1em 0.3em;
  vertical-align: top;
}
.icon {
  font-size: 20px;
}
button.icon {
  border: none;
  background: rgba(128,128,128,0.29);
  padding: 5px 4px;
  vertical-align: middle;
  color: inherit;
}
button.icon:active {
  background: #808080;
}
button.icon:focus {
  outline: 1px dotted #fff;
}
header {
  position: fixed;
  width: 100%;
  height: 60px;
  left: 0;
  top: 0;
  padding: 0 50px;
  z-index: 5;
  border-bottom: 1px solid rgba(128,128,128,0.29);
}
header .topnav {
  float: left;
  height: 100%;
  width: 20%;
}
header .topnav a.logo {
  display: block;
  border: none;
  padding-top: 1em;
}
header .topnav a.logo .icon-logo {
  font-size: 30px;
  padding-left: 0;
}
header #search_form {
  height: 100%;
  float: left;
}
header #search_form #search_query {
  color: inherit;
  margin-right: 1px;
  font-size: 2em;
  width: 10em;
}
header .views {
  height: 100%;
  float: right;
}
header .views .font-size .valuebox {
  display: none;
}
header .views .font-size input {
  width: 100px;
}
header .views ul {
  height: 100%;
}
header .views ul li {
  display: block;
  height: 100%;
  float: left;
  padding: 0 1px 0 0;
}
header .fullh {
  height: 100%;
  vertical-align: middle;
  padding-left: 30px;
  padding-right: 30px;
}
.content {
  padding-top: 80px;
}
.content h1 {
  font-size: 3em;
  margin: 50px 0 50px 50px;
}
.notice {
  font-size: 40px;
  line-height: 50px;
  padding: 0 50px 40px 50px;
}
.typeface {
  padding: 50px 50px;
  clear: both;
  overflow: hidden;
  line-height: 1.6em;
  border-bottom: 1px solid rgba(128,128,128,0.29);
}
.typeface .meta {
  float: left;
  width: 20%;
  display: block;
  line-height: 25px;
}
.typeface .meta>li {
  margin-bottom: 10px;
}
.typeface .meta li.fontname {
  margin-bottom: 10px;
}
.typeface .meta li li:before {
  content: '';
  padding-right: 1.2em;
}
.typeface .meta h2 {
  color: #808080;
}
.typeface .fontlist {
  float: left;
  width: 80%;
}
.typeface .fontlist .font {
  transition: all 0.1s ease-out;
  margin: 0 0 10px 0;
}
.typeface .fontlist .font .fontdemo1,
.typeface .fontlist .font .fontdemo2 {
  overflow: hidden;
}
.typeface .fontlist .font .fontdemo1 input,
.typeface .fontlist .font .fontdemo2 input {
  transition: width 0.3s ease-out;
  height: 1.5em;
  width: 100%;
  background: transparent;
  border: 0;
}
.typeface .fontlist .font .fontdemo1 input::selection,
.typeface .fontlist .font .fontdemo2 input::selection {
  color: inherit;
  background: #ff0;
}
.typeface .fontlist .font .fontdemo1 input::-moz-selection,
.typeface .fontlist .font .fontdemo2 input::-moz-selection {
  color: inherit;
  background: #ff0;
}
.typeface .fontlist .font .fontdemo1 input {
  font-size: 80px;
  white-space: nowrap;
  font-family: inherit;
}
.typeface .fontlist .font .fontdemo2 input {
  display: none;
}
.typeface .fontlist .font .legend {
  font-size: 12px;
  color: #808080;
}
.typeface .fontlist .font .legend a {
  border-bottom: none;
}
.typeface .fontlist .font .legend .icon-fullscreen {
  margin-left: 0px;
  background: none;
  color: inherit;
  vertical-align: baseline;
  cursor: pointer;
  font-size: 11px;
}
.gridview .typeface .font {
  width: 30%;
  display: inline-block;
  margin-right: 1%;
  vertical-align: top;
  position: relative;
}
.gridview .typeface .font:after {
  content: " ";
  height: 100%;
  width: 30px;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, #000 100%);
}
.gridview .typeface .font .fontdemo2 {
  display: block;
}
.gridview.bright .font:after {
  background: linear-gradient(to right, rgba(238,238,238,0) 0%, #eee 100%);
}
.fsBox {
  width: 100%;
  height: 100%;
  padding: 100px;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 20;
  font-size: 40%;
}
.fsBox.displayed {
  display: block;
}
.fsBox input {
  text-align: center;
  color: inherit;
}
.fsBox .close-fullscreen {
  font-size: 10em;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.pagination {
  padding: 100px 0;
  clear: both;
  font-size: 2em;
  border-bottom: 1px solid rgba(128,128,128,0.29);
  text-align: center;
}
.pagination li {
  display: inline;
  list-style: none;
  margin: 0 0.5em;
}
.pagination li.MarkupPagerNavOn a {
  border: 2px solid;
  border-radius: 1em;
  padding: 0.3em 0.6em;
}
.pagination li.MarkupPagerNavNext,
.pagination li.MarkupPagerNavPrevious {
  font-size: 0.8em;
  vertical-align: top;
}
.pagination li a {
  color: #808080;
  border: none;
}
.pagination li a:hover {
  color: rgba(128,128,128,0.29);
}
body>footer {
  padding: 50px 0;
}
body>footer p {
  font-size: 1em;
  color: #808080;
  text-align: center;
  margin: 0 0 10px 0;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}
a:hover {
  border-style: solid;
}
input[type=text] {
  border: none;
  background: rgba(128,128,128,0.29);
}
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: none;
}
::selection {
  background: #000;
  color: #eee;
}
::-moz-selection {
  background: #000;
  color: #eee;
}
@media (max-width: 1200px) {
  header {
    height: 50px;
  }
  header .fullh {
    padding-right: 10px;
    padding-left: 10px;
  }
}
