@import 'fonts.styl'
@import 'utils.styl'
@import 'icons.styl'
@import 'colormodes.styl'

m = 50px
unicol = rgba(128, 128, 128, 0.29)

body
  font-family dejavu_sans_condensed
  font-size 15px
  line-height 20px
  &.nonotice
    .notice
      display none
  .notice
    p
      display inline
    .introbtn
      font-size .5em
      cursor pointer
      border 2px solid
      padding .1em .3em
      vertical-align top

// Icons

.icon
  font-size 20px
button.icon
  border none
  background unicol
  padding 5px 4px
  vertical-align middle
  color inherit
  &:active
    background gray
  &:focus
    outline 1px dotted white

header
  position fixed
  width 100%
  height 60px
  left 0
  top 0
  padding 0 m
  z-index 5
  border-bottom 1px solid unicol
  .topnav
    float left
    height 100%
    width 20%
    a.logo
      display block
      border none
      padding-top 1em
      .icon-logo
        font-size 30px
        padding-left 0
  #search_form
    height 100%
    float left
    #search_query
      color inherit
      margin-right 1px
      font-size 2em
      width 10em
  .views
    height 100%
    float right
    .font-size
      .valuebox
        display none
      input
        width 100px
    ul
      height 100%
      li
        display block
        height 100%
        float left
        padding 0 1px 0 0
  .fullh
    height 100%
    vertical-align middle
    padding-left 30px
    padding-right 30px
.content
  padding-top 80px
  h1
    font-size 3em
    margin m 0 m m
.notice
  font-size 40px
  line-height 50px
  padding 0 m 40px m
  
.typeface
  padding m m
  clear both
  overflow hidden
  line-height 1.6em
  border-bottom 1px solid unicol
  .meta
    float left
    width 20%
    display block
    line-height 25px
    //border-right 1px solid unicol
    &>li
      margin-bottom 10px
    li
      &.fontname
        margin-bottom 10px
      li:before
        content ''
        padding-right 1.2em
    h2
      color metacol 
  .fontlist
    float left
    width 80%
    .font
      transition all 0.1s ease-out
      margin 0 0 10px 0
      .fontdemo1, .fontdemo2
        overflow hidden
      .fontdemo1 input, .fontdemo2 input
        transition width 0.3s ease-out
        height 1.5em
        width 100%
        background transparent
        border 0
        &::selection
          color inherit
          background rgba(255, 255, 0, 1)
        &::-moz-selection
          color inherit
          background rgba(255, 255, 0, 1)

      .fontdemo1 input
        font-size 80px
        white-space nowrap
        font-family inherit
      .fontdemo2 input
        display none
      .legend
        font-size 12px
        color metacol
        a
          border-bottom none
        .icon-fullscreen
          margin-left 0px
          background none
          color inherit
          vertical-align baseline
          cursor pointer
          font-size 11px
.gridview
  .typeface
    .font
      width 30% 
      display inline-block
      margin-right 1%
      vertical-align top
      position relative
      &:after
        content " "
        height 100%
        width 30px
        position absolute
        right 0
        top 0
        background linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%)
      .fontdemo2
        display block
  &.bright
    .font:after
      background linear-gradient(to right, rgba(238, 238, 238, 0) 0%,#eee 100%)
  
// FullScreen Box

.fsBox
  width 100%
  height 100%
  padding 100px
  position fixed
  text-align center
  top 0
  left 0
  z-index 20
  font-size 40%
  &.displayed
    display block
  input
    text-align center
    color inherit
  .close-fullscreen
    font-size 10em
    position absolute
    top m*.5
    right m*.5
    cursor pointer
.pagination
  padding 2*m 0
  clear both
  font-size 2em
  border-bottom 1px solid unicol
  text-align center
  li 
    display inline
    list-style none
    margin 0 .5em
    &.MarkupPagerNavOn a
      border 2px solid
      border-radius 1em
      padding .3em .6em
    &.MarkupPagerNavNext, &.MarkupPagerNavPrevious
      font-size .8em
      vertical-align top
    a
      color metacol
      border none
      &:hover
        color unicol

body>footer
  padding m 0
  p
    font-size 1em
    color metacol
    text-align center
    margin 0 0 10px 0
a
  color inherit
  text-decoration none
  border-bottom 1px dotted
  &:hover
    border-style solid

input[type=text]
  border none
  background unicol

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
    border: none;
}
::selection
  background fontcol
  color bgcol
::-moz-selection
  background fontcol
  color bgcol

@media (max-width: 1200px)
  header
    height 50px
    .fullh
      padding-right 10px
      padding-left 10px
