@font-face {
  font-family: 'ofont';
  src: url('../font/ofont.eot?5930829');
  src: url('../font/ofont.eot?5930829#iefix') format('embedded-opentype'),
       url('../font/ofont.woff?5930829') format('woff'),
       url('../font/ofont.ttf?5930829') format('truetype'),
       url('../font/ofont.svg?5930829#ofont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ofont';
    src: url('../font/ofont.svg?5930829#ofont') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ofont";
  font-style: normal;
  font-weight: normal;
  speak: none;

  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;


  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ofont:before { content: '\e800'; } /* '' */
.icon-use---modify:before { content: '\e801'; } /* '' */
.icon-gridview:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-fullscreen:before { content: '\e804'; } /* '' */
.icon-fullview:before { content: '\e805'; } /* '' */
.icon-light:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-size:before { content: '\e808'; } /* '' */
.icon-taxonomy:before { content: '\e805'; } /* '' */
