
.icon-ofont:before { content: '\e800'; } /* '' */
.icon-use---modify:before { content: '\e801'; } /* '' */
.icon-gridview:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-fullscreen:before { content: '\e804'; } /* '' */
.icon-fullview:before { content: '\e805'; } /* '' */
.icon-light:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-size:before { content: '\e808'; } /* '' */